.Lista-grid {
	color: white;
}

.lista-style {
	margin-bottom: 16px;
	padding: 32px 0;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	color: $black;
}

.medarbetare_bild {
	display:block;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.container2 h4 {
	margin-top: 8px;
	margin-bottom: 8px;
}

.container2 h3 {
	margin-top: 8px;
	margin-bottom: 8px;
}

.List {

    padding-top: 16px;

}