/* Variables
 ========================================================================== */

$green: #233237;
$red: #984B43;

// Primary colour palette //

$black: #000000;
$yellow: #FFF200;
$white: #ffffff;

// Secondary colour palette //

$gray-darkest: #333333;
$gray-dark: #666666;
$gray-medium: #999999;
$gray-light: #CCCCCC;




$max-width: 768px;
$max-width_m: 980px;

$break-small: 320px;
$break-mid: 768px;
$break-large: 1024px;
$pad: 8px;

$transition: .35s all cubic-bezier(.455,.03,.515,.955);

/* Mixin
 ========================================================================== */
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
%v_c{
  top: 50%;
  transform: translateY(-50%);
  margin:0 auto;
  position: relative;
}

%max_w {
  width: $max-width;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
   
}
%max_w_m {
  width: $max-width_m;
  max-width: 100%;
  margin: 0 auto;
  @media only screen  and (max-width :  $break-mid) {
     padding: 0 $pad
    }
}
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

/*
  @include bp-large{
      float: right;
      margin: 9px 0 5px 1rem;
  }
*/

$colors: red, orange, $yellow, green, blue, purple;

@for $i from 1 through length($colors) {
  .lista-style:nth-child(#{length($colors)}n+#{$i}) {
    background: lighten(nth($colors, $i), 20%);
  }
}

$hover: green, gray, blue, purple, $yellow, red, orange; 

@for $i from 1 through length($hover) {
  .lista-style:hover:nth-child(#{length($hover)}n+#{$i}) {
    background: lighten(nth($hover, $i), 20%);
    cursor: pointer;
  }
}

