.Footer {
	background: $black;
	color: $yellow;
 
}
textarea {
    overflow: auto;
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    background: none;
    border: 2px solid $yellow;
    color: $yellow;
    border-bottom: 0;
    padding: 8px;
   
}
.saveButton {
  background: #FFF200;
  border: 0;
  width: 100%;
  height: 30%;
}

.saveButton:hover {
  background: #e0d400;
}
.FormNotes {
	padding-top: 8px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
    
}

.anteckningar {

	display: block;
	width: 100%;
	text-align: center;
}

.todo-wrapper h2 {
  
  color: white;
  margin-top: 16px;
  margin-left: 48px;
  text-align: center;
}

.kitchenHeader {
    width: 100%;
    text-align: center;
    height: 30%;
    color: $gray-light;
    @extend %v_c;
}
.kitchen {
    display: block;
    width: 100%;
    text-align: center;
    height: 70%;
    font-size: xx-large;
    @extend %v_c;
}




