.Projects {
	background: $black;
	color: black;

	padding: 24px;

}

.mandag {
  grid-area: mandag;
  

}
.tisdag {
  grid-area: tisdag;


}
.onsdag {
  grid-area: onsdag;
  

}
.torsdag {
  grid-area: torsdag;
 
 
}
.fredag {
  grid-area: fredag;
  

}
.vecka {
  display: grid;
  grid-gap: 20px;
  height: 100%;
  grid-gap: 20px;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "mandag tisdag onsdag torsdag fredag"
}


@include bp-large {
  .vecka {
    display: grid;
    grid-gap: 20px;

    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "mandag tisdag" 
      "onsdag torsdag"  
      "fredag . ";
}
}
@include bp-small {
  .vecka {
    display: grid;
    grid-gap: 20px;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "mandag" 
      "tisdag" 
      "onsdag" 
      "torsdag" 
      "fredag";
}
}

.veckaPD {
	
  // border: 1px solid $gray-darkest;	
  color: $white;

}

.veckaPD h4 {

	margin: 8px;
	padding-top: 8px;
	padding-bottom: 8px;

}

.cvsInformation {
	background: $yellow;
	
	margin: 16px 4px 0 4px;
	color: $black;
}