.Projects {
	background: $green;
	color: black;

	padding: 24px;

}

.mandag {
  grid-area: mandag;
  background: $yellow;
  border-radius: 12px;
}
.tisdag {
  grid-area: tisdag;
  background: $yellow;
  border-radius: 12px;
}
.onsdag {
  grid-area: onsdag;
  background: $yellow;
  border-radius: 12px;
}
.torsdag {
  grid-area: torsdag;
  background: $yellow;
  border-radius: 12px;
}
.fredag {
  grid-area: fredag;
  background: $yellow;
  border-radius: 12px;
}
.vecka {
  display: grid;
  grid-gap: 20px;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "mandag tisdag onsdag torsdag fredag"
}


@include bp-large {
  .vecka {
    display: grid;
    grid-gap: 20px;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "mandag tisdag" 
      "onsdag torsdag"  
      "fredag . ";
}
}
@include bp-small {
  .vecka {
    display: grid;
    grid-gap: 20px;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "mandag" 
      "tisdag" 
      "onsdag" 
      "torsdag" 
      "fredag";
}
}

.veckaPD {
	padding: 8px;
	
	color: $green;
}

.veckaPD h4 {
	
	margin: 8px;
	padding-top: 8px;
	padding-bottom: 8px;

}

.cvsInformation {
	background: $green;
	border-radius: 8px;
	margin: 16px 4px 0 4px;
	color: $yellow;
}