.TodoInput {
  margin: 20px auto 20px auto;
  width: 80%;
  
  
  padding: 20px;
}

.btn {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  
  padding: 8px;
}

.btn-primary {
  color: $red;
  border-color: $red;
  background-color: transparent;
}

input {
  width: 70%;
  border: none;
  border-top: 2px solid $red;
  border-bottom: 2px solid $red;
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
  background: none;
  color: $yellow;
}

input:focus {
  outline: none;
  border: none;
  border-top: 3px solid $red;
  border-bottom: 3px solid $red;
}


.todoWrapper {
  border-bottom: 1px solid #efefef;

  margin-bottom: 10px;
  
}
.removeTodo {
  margin-right: 20px;
  margin-bottom: 10px;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  color: $red;
  border-color: $red;
  background-color: transparent;
}