.TodoInput {
  margin: 20px auto 20px auto;
  width: 80%;
  padding: 20px;
}

.btn {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  padding: 8px;
}

.btn-primary {
  color: $black;
  border: solid 1px #e0d400;
  background-color: transparent;
  width: 107px;
  height: 37px;
  background-color: #fff200;
}

.btn-primary:hover {
  width: 107px;
  height: 37px;
  background-color: #e0d400;
  border: solid 1px #c7bc00;
}

input {
  width: 70%;
  border: none;
  border-top: 2px solid $yellow;
  border-bottom: 2px solid $yellow;
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
  background: none;
  color: $yellow;
}

input:focus {
  outline: none;
  border: none;
  border-top: 3px solid #e0d400;
  border-bottom: 3px solid #e0d400;
}


.todoWrapper {
  
background: $gray-darkest;

  
}
.removeTodo {
  margin-right: 20px;
  margin-bottom: 10px;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  color: $yellow;
  border-color: $yellow;
  background-color: transparent;
 width: 107px;
  height: 37px;
}